@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

footer > img {
  height: 2em;
  width: auto;
}

footer > p {
  margin-bottom: 20px;
}

img {
  width: 10em;
  margin-top: 1em;
  margin-bottom: 1.2em;
}

.blue {
  background-color: #002d64;
}

header {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 80%;
  height: 230px;
  font-weight: 600;
  margin: 10 auto;
}

.location {
  margin-top: 1em;
  margin-bottom: 0.3em;
}

.violet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(105, 0, 131);
  width: 100%;
  height: 50%;
  font-size: 12px;
}

.white {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  font-size: 10px;
}

.paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80%;
}

.paragraph p {
  margin-top: 20px;
}

.table {
  width: 80%;
  margin: 25 auto;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
  text-align: left;
}

.remarque {
  width: 2000px;
  height: 8em;
}

.infos th {
  width: 50%;
  color: white;
  background-color: rgb(65, 65, 65);
}

.candidats th {
  color: white;
  background-color: #002d64
}

.resultats {
  margin: 20px auto;
}

.resultats th {
  width: 50%;
  color: white;
  background-color: #002d64;
}

.table h1,
h2 {
  font-size: 16px;
}

.signatures th {
  background-color: #002d64;
  color: white;
}

caption {
  text-align: left;
  font-size: 23px;
  margin-bottom: 15px;
}
